.primeira, .terceira{
    width: 200px;
    height: 500px;
    text-align: justify;
    float: left;
    padding: 60px;
    background-color:bisque;
    margin-top: 50px;
    margin-left: 20px;
}

.segunda, .quarta{
    width: 200px;
    height: 500px;
    text-align: justify;
    float: left;
    padding: 60px;
    background-color: rgb(252, 210, 159);
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.container{
    margin-left: 300px;
}

header{
    background-color: rgb(236, 184, 106);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

footer{
    clear: both;
    background-color:rgb(167, 118, 50);
    text-align: center;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

