body{
    margin: 0;
    background-image: url(img/duotone\ \(1\).png);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 83%;
} 


/*===================================================CÓDIFGO MENU (NAV)===================================================*/
.links a{
    display: block;
    padding: 15px;
    color: rgb(59, 61, 143);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links a:hover{
    color: black;
    text-decoration: underline 1px #fae315;
}

.menu{
    display: inline-block;
    height: 850px;
    width: 17%;
    border-right-style:solid;
    border-color: rgba(119, 122, 252, 0.39);
    border-width: 1px;
    margin-top: 30px;
    box-sizing:border-box ;
}

.links{
    margin-top: 50px;
}
/*===================================================CÓDIGO PARA CAIXA PRINCIPAL===================================================*/
.box{
    background-color: #41ABD9;
    float: right;
    width: 83%;
    border-radius: 35px;
    padding: 25px;
    margin-bottom: -300px;
    display: inline;
    color: whitesmoke;
    box-sizing: border-box;
}

.options{
    background-color: #eee9a5;/*#41ABD9*/
    width: 15%;
    text-align: center;
    border-radius: 25px;
    margin-left: 15px;
}

.options img{
    margin-top: 15px;
}

.options h1{
    font-size: 20px;
}

.mini{
    display: flex;
    margin-left: 200px;
}

.options a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*===================================================CÓDIGO PARA BOTÃO===================================================*/
.tela_login{
    color: #FFF;
    background-color: rgb(255, 196, 0);
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 35px;
}

.log{
    margin-left: 900px;
}

button{
    color: #FFF;
    background-color: black;
    border: none;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

button:active{
    color: #FFF;
    background-color: rgb(108, 235, 77);
    border: none;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

#show{
    margin-left: 30%;
    color: black;
    background-color: #41ABD9;
    border: none;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

#show:active{
    margin-left: 30%;
    color: rgb(0, 0, 0);
    background-color: #d4e251;
    border: none;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

/*===================================================CÓDIGO PARA LOGIN===================================================*/
.form{
    text-align: center;
    margin-top: -500px;
    margin-bottom: 300px;
    margin-left: 300px;
}

.form input{
    margin: 15px;
}

input{
    background-color: #c6f3cc;
    width:350px;
    padding: 25px;
    color: white;
    border: none;
    border-radius: 10px;
}

input:focus{
    outline: 0;
}

#bot{
    color: brown;
    margin-top: 30px;
    font-size: large;
    font-weight: bolder;
}

/*===================================================CÓDIGO PARA FORMULÁRIO EXAMES===================================================*/
.exam input{
    background-color: #c6f3cc;
    width:350px;
    padding: 25px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.exam{
    float: right;
    margin-right: 300px;
    margin-top: -400px;
    text-align: center;

}

input::placeholder{
    color: rgb(0, 0, 0);
    text-align: center;
}

/*=========================================CÓDIGO PARA FORMULÁRIO DE LOGIN================================================*/
#aparecer{
    display: block;
    position: static;
    margin-top: -250px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 300px;
}

.desaparecer{

    text-align: center;
    margin-bottom: 25px;
    margin-left: 300px ;
}

.desaparecer input{
    margin-bottom: 15px;
    background-color: #aafcb5;
    width:350px;
    padding: 25px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
}
/*===============================================CÓDIGO PARA TABLE===================================================*/
table{
    margin-top: -719px;
    float: left;
    margin-right: 100px;
}

.table tr{
    float: right;
    width:65% ;
    margin-top: 25px;
    
}
.table td{
    width: 20%;
    text-align: center;
}

/*========================================CÓDIGO PARA INPUT SELEÇÕES UNIDADEDS DE SAÚDE=============================================*/
.opuni h3, select{
    padding: 10px;
    font-size: 25px;
    float: left;
    margin-left: 400px;
}

.opbairronovo{
    display: none;
}

.opboqueirao{
    display: none;
}

.opboavista{
    display: none;
}

.opcajuru{
    display: none;
}

.opcic{
    display: none;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  /* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

  /* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: rgb(233, 76, 76);
}

  /* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/*========================================CÓDIGO PARA TERMOS DE USO E RESPONSABILIDADE=============================================*/
.textinho {
    float: right;
    width: 83%;
    padding: 80px;
    margin-bottom: -300px;
    display: inline;
}








