body, html{
    margin: 0;
    color: gold;
    height: 100%;
}

.efeito1{
    background-image: url(img/imagem4.jpg);
}

.efeito2{
    background-image: url(img/imagem2.jpg);
}

.efeito3{
    background-image: url(img/imagem3.jpg);
}

.efeito1, .efeito2, .efeito3{
    height: 100%;
    opacity: 0,8;
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment:fixed ;
    background-size: cover;
    margin: 0;
}

.efeito1, .efeito2, .efeito3, .conteudo{
    color: coral;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}